.idea/
*.iws
*.iml
*.ipr

.classpath
.project
.settings/

target/
!.mvn/wrapper/maven-wrapper.jar

*.log
logs/
application-*.properties
!application-test.properties

frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

*.class

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

docker-data/

.DS_Store
Thumbs.db 